@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 30px 70px;
}

.imgLogo{
    margin: auto;
}

.divLogoeOpcoes{
    display: flex;
    gap: 30px;
    color: hsl(219, 9%, 45%);
}

.opcao{
    cursor: pointer;
    margin: auto;
}

.opcao:hover{
    color: black;
}

.linhaSelectOpcao{
    display: none;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    margin-top: 46px;
    transition: 0.4s;
}

.collections{
    margin-left: 30px;
    position: relative;
}

.men{
    position: relative;
}

.women{
    position: relative;
}

.about{
    position: relative;
}

.contact{
    position: relative;
}

.opcao:hover .linhaSelectOpcao {
    display: block;
    transition: 0.4s;
}

.divCartAvatar{
    display: flex;
    gap: 45px;
}

.divCart{
    cursor: pointer;
}

svg:hover path{
    fill: black;
}

.imgAvatar{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.imgAvatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.divCartAvatar div{
    margin: auto;
}

.linha{
    margin-left: 70px;
    margin-right: 70px;
    height: 1px;
    background-color: hsl(220, 14%, 75%);
}