@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bigOverlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(240, 2%, 12%, 0.712);
    z-index: 5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 30px 70px;
    position: relative;
}

.headerMediaQueries{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.divOpcoesMediaQueries{
    display: none;
}

.imgLogo{
    margin: auto;
}

.divLogoeOpcoes{
    display: flex;
    gap: 30px;
    color: hsl(219, 9%, 45%);
}

.opcao{
    cursor: pointer;
    margin: auto;
    font-size: 16px;
}

.opcao:hover{
    color: black;
}

.linhaSelectOpcao{
    display: none;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    margin-top: 46px;
    transition: 0.4s;
}

.collections{
    margin-left: 30px;
    position: relative;
}

.men{
    position: relative;
}

.women{
    position: relative;
}

.about{
    position: relative;
}

.contact{
    position: relative;
}

.opcao:hover .linhaSelectOpcao {
    display: block;
    transition: 0.4s;
}

.divCartAvatar{
    display: flex;
    gap: 45px;
}

#divDescricaoProdutoCart{
    display: none;
    position: absolute;
    width: 350px;
    height: 250px;
    background-color: hsl(223, 64%, 98%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 70px;
    margin-left: 80%;
    border-radius: 10px;
    z-index: 5;
}

#tituloCart{
    margin-top: 25px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 800;
}

#linhaCart{
    width: 100%;
    height: 1px;
    background-color: hsl(220, 14%, 75%);
    margin-top: 25px;
}

#paragrafoDescricaoCartVazio{
    width: 350px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    font-weight: 700;
}

#divTotalDescricaoCartCheio{
    display: none;
}

.divDescricaoCartCheio{
    width: 350px;
    height: 100px;
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fotoProdutoCart{
    width: 50px;
    border-radius: 5px;
}

.paragrafoDescricaoCartCheio{
    font-size: 16px;
    color: hsl(219, 9%, 45%);
    line-height: 1.5;
}

.textBlack{
    color: black;
    font-weight: 700;
}

.divBotaoCheckout{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoCheckout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 0 solid transparent;
    border-radius: 10px;
    padding: 15px 120px 15px 120px;
    margin-bottom: 28px;
    cursor: pointer;
    position: relative;
}

.overlayBotaoCheckout{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-radius: 10px;
}

.botaoCheckout:hover .overlayBotaoCheckout{
    display: block;
}

.divImgLixeira{
    cursor: pointer;
}

.divImgLixeira:hover svg path{
    fill: black;
}

#quantidadeCarrinho{
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 15px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 43%;
    font-size: 10px;
    z-index: 1;
    color: white;
    margin-left: 10px;
    margin-top: -8px;
    position: absolute;
}

.divCart{
    cursor: pointer;
}

.divCart svg:hover path{
    fill: black;
}

.imgAvatar{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.imgAvatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.divCartAvatar div{
    margin: auto;
}

.linha{
    margin-left: 70px;
    margin-right: 70px;
    height: 1px;
    background-color: hsl(220, 14%, 75%);
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px 70px 20px 70px;
    overflow: auto;
}

.secaoTotalLadoEsquerdoDepoisDoClick{
    width: 500px;
    height: 623px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    position: absolute;
    z-index: 5;
}

.divPreviousNextFotoPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.divImgClose svg path{
    fill: white;
}


.divImgClose{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-bottom: 720px;
    margin-left: 640px;
    z-index: 6;
}

.divImgClose svg:hover path {
    fill: hsl(26, 100%, 55%);
}

.divImgPrevious{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    z-index: 6;
    margin-right: 660px;
}

.divImgPrevious:hover svg path{
    stroke: hsl(26, 100%, 55%);
}

.imgProdutoPrincipalDepoisDoClick{
    width: 660px;
    height: 640px;
    border-radius: 20px;
}

.divImgNext{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    z-index: 6;
    margin-left: 660px;
}

.divImgNext:hover svg path{
    stroke: hsl(26, 100%, 55%);
}

.secaoTotalLadoEsquerdo{
    width: 500px;
    height: 623px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.imgProdutoPrincipal{
    width: 500px;
    height: 500px;
    border-radius: 20px;   
}

.opcoesImagensDoProduto{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-top: 15px;
}

.imagensFooter{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.overlay{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background: hsla(230, 60%, 98%, 0.712);
    border-radius: 10px;
}


.clickOver{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background: hsla(230, 60%, 98%, 0.712);
    border: 2px solid  hsl(26, 100%, 55%);
    border-radius: 10px;
}

.secaoTotalLadoDireito{
    width: 430px;
    height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5{
    color: hsl(26, 100%, 55%);
    font-size: 16px;
    margin-bottom: 15px;
}

h1{
    font-size: 45px;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

.paragrafo{
    font-size: 16px;
    max-width: 430px;
    color: hsl(219, 9%, 45%);
    margin-top: 25px;
    line-height: 1.5;
}

h3{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
}

.desconto{
    
    font-size: 16px;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    margin-left: 15px;

}

.precoDesconto{
    font-size: 16px;
    color: hsl(220, 14%, 75%);
    margin-top: 10px;
    text-decoration: line-through;
}

.totalBotoes-Quantidade-AdicionarCart{
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.divBotaoQuantidade{
    display: flex;
    width: 126px;
    background-color: hsl(223, 64%, 98%);
    padding: 13px 7px 13px 7px;
    border-radius: 10px;
}

.botaoEliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 20px;
    color: hsl(26, 100%, 55%);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border: 0 solid transparent;
    background-color: hsl(223, 64%, 98%);
}

.overlayBotaoEliminar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.botaoEliminar:hover .overlayBotaoEliminar{
    display: block;
}

.quantidade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    font-size: 16px;
    font-weight: 700;
}

.botaoAdicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 42px;
    color: hsl(26, 100%, 55%);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border: 0 solid transparent;
    background-color: hsl(223, 64%, 98%);
}

.overlayBotaoAdicionar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.botaoAdicionar:hover .overlayBotaoAdicionar{
    display: block;
}

.botaoAddCart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 270px;
    background-color: hsl(26, 100%, 55%);
    padding: 13px 7px 13px 7px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsl(26, 80%, 67%);
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    border: 0 solid transparent;
}

.divImgCart path{
    fill: white;
}

.divImgCart svg{
    width: 15px;
    height: 15px;
}

.overlayBotaoAddCart{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-radius: 10px;
}

.botaoAddCart:hover .overlayBotaoAddCart{
    display: block;
    box-shadow: none;
}

.botaoAddCart:hover{
    box-shadow: none;
}


@media(max-width: 375px){
    body{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    header{
        padding: 20px 30px 10px 30px;
    }
    
    .headerMediaQueries{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .bigOverlay{
        z-index: 6;
    }

    .divMenu{
        cursor: pointer;
    }

    .divMenu svg:hover path{
        fill: black;
    }

    .divLogoeOpcoesMediaQueries{
        display: none;
    }
    
    .divLogoeOpcoes{
        display: none;
    }

    .divOpcoesMediaQueries{
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 7;
        background-color: white;
        width: 200px;
        height: 100vh;
        left: 0;
        top: 0;
        font-size: 16px;
        font-weight: 700;
    }

    .opcaoMediaQueries{
        margin-top: 18px;
        margin-left: 15px;
        cursor: pointer;
    }

    .opcaoMediaQueries:hover{
        color: hsl(26, 100%, 55%);
    }

    .collectionsMediaQueries{
        margin-top: 40px;
    }

    .divCloseMediaQueries{
        height: 13.44px;
        width: 13.44px;
        margin-top: 20px;
        margin-left: 15px;
        cursor: pointer;
    }

    .divCloseMediaQueries svg:hover path{
        fill: black;
    }

    .divCartAvatar{
        display: flex;
        width: 72px;
        gap: 0px;
    }

    .imgAvatar{
        width: 25px;
        height: 25px;
    }

    .linha{
        display: none;
    }

    .divTotal-ProdutoCart{
        display: flex;
        justify-content: center;
        
    }

    #divDescricaoProdutoCart{
        display: none;
        position: absolute;
        max-width: 90vw;
        height: 250px;
        margin-top: 70px;
        margin-left: 0;
        z-index: 7;
    }

    #paragrafoDescricaoCartVazio{
        max-width: 90vw;
        font-size: 14px;
    }

    .divDescricaoCartCheio{
        max-width: 90vw;
    }

    .paragrafoDescricaoCartCheio{
        font-size: 14px;
        line-height: 1.5;
    }

    .botaoCheckout{
        min-width: 90%;
        height: 40px;
        font-size: 14px;
        padding: 0px 0px 0px 0px;
    }

    main{
        max-width: 375px;
        padding: 0;
        overflow: hidden;
        gap: 23px;
        margin-top: -65px;
        padding-bottom: 20px;
    }

    .secaoTotalLadoEsquerdo{
        display: none;
    }

    .secaoTotalLadoEsquerdoDepoisDoClick{
        display: flex;
        max-width: 375px;
        height: 350px;
        position: relative;
        margin-bottom: 0px;
    }

    .divImgPrevious{
        height: 40px;
        width: 40px;
        margin-right: 75%;
    }

    .divImgPrevious:hover svg path{
        stroke: hsl(26, 100%, 55%);
    }

    .imgProdutoPrincipalDepoisDoClick{
        max-width: 375px;
        height: 300px;
        border-radius: 0px;
    }

    .divImgNext{
        height: 40px;
        width: 40px;
        margin-left: 75%;
    }

    .divImgNext:hover svg path{
        stroke: hsl(26, 100%, 55%);
    }

    .opcoesImagensDoProduto{
        display: none;
    }

    .secaoTotalLadoDireito{
        max-width: 90%;
        height: 414px;
    }

    h5{
        font-size: 11px;
        margin-bottom: 10px;
        letter-spacing: 1.2px;
    }
    
    h1{
        max-width: 370px;
        font-size: 26px;
        font-weight: 700;
    }

    .paragrafo{
        font-size: 14px;
        width: 100%;
        margin-top: 25px;
    }

    h3{
        font-size: 25px;
        margin-top: 25px;
    }

    .precoDesconto{
        font-size: 14px;   
        margin-top: -22px;
        float: right;
    }

    .totalBotoes-Quantidade-AdicionarCart{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    
    .divBotaoQuantidade{
        width: 100%;
        padding: 18px 7px 18px 7px;
        justify-content: space-between;
    }

    .botaoAddCart{
        font-size: 16px;
        width: 100%;
        padding: 18px 7px 18px 7px;
        gap: 10px;
        font-size: 16px;
    }
}

@media(max-width: 330px){
    .divImgPrevious{
        margin-right: 60%;
    }

    .divImgNext{
        margin-left: 60%;
    }
}

@media(max-width: 300px){
    header{
        padding: 20px 10px 10px 10px;
    }

    .divCartAvatar{
        width: 72px;
        gap: 0px;
    }
}