@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 30px 70px;
}

.imgLogo{
    margin: auto;
}

.divLogoeOpcoes{
    display: flex;
    gap: 30px;
    color: hsl(219, 9%, 45%);
}

.opcao{
    cursor: pointer;
    margin: auto;
    font-size: 16px;
}

.opcao:hover{
    color: black;
}

.linhaSelectOpcao{
    display: none;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    margin-top: 46px;
    transition: 0.4s;
}

.collections{
    margin-left: 30px;
    position: relative;
}

.men{
    position: relative;
}

.women{
    position: relative;
}

.about{
    position: relative;
}

.contact{
    position: relative;
}

.opcao:hover .linhaSelectOpcao {
    display: block;
    transition: 0.4s;
}

.divCartAvatar{
    display: flex;
    gap: 45px;
}

.divCart{
    cursor: pointer;
}

.divCart svg:hover path{
    fill: black;
}

.imgAvatar{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.imgAvatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.divCartAvatar div{
    margin: auto;
}

.linha{
    margin-left: 70px;
    margin-right: 70px;
    height: 1px;
    background-color: hsl(220, 14%, 75%);
}

main{
    width: 100%;
    height: 100%;
}

.secaoTotalLadoEsquerdo{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgProdutoPrincipal{
    width: 500px;
    height: 500px;
    border-radius: 20px;   
}

.opcoesImagensDoProduto{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-top: 15px;
}

.imagensFooter{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.divOverlayImagens:hover .overlay{
    display: block;
    cursor: pointer;
}

.overlay{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background:  hsla(230, 60%, 98%, 0.712);
    border-radius: 10px;
}

.secaoTotalLadoDireito{
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5{
    color: hsl(26, 100%, 55%);
    font-size: 16px;
    margin-bottom: 15px;
}

h1{
    font-size: 45px;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

.paragrafo{
    font-size: 16px;
    max-width: 430px;
    color: hsl(219, 9%, 45%);
    margin-top: 25px;
    line-height: 1.5;
}

h3{
    display: flex;
    align-items: center;

    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
}

.desconto{
    
    font-size: 16px;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    margin-left: 15px;

}

.precoDesconto{
    font-size: 16px;
    color: hsl(220, 14%, 75%);
    margin-top: 10px;
    text-decoration: line-through;
}

.totalBotoes-Quantidade-AdicionarCart{
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.divBotaoQuantidade{
    display: flex;
    width: 126px;
    background-color: hsl(223, 64%, 98%);
    padding: 13px 7px 13px 7px;
    border-radius: 10px;
}

.botaoEliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 20px;
    color: hsl(26, 100%, 55%);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.overlayBotaoEliminar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.botaoEliminar:hover .overlayBotaoEliminar{
    display: block;
}

.quantidade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    font-size: 16px;
    font-weight: 700;
}

.botaoAdicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 42px;
    color: hsl(26, 100%, 55%);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.overlayBotaoAdicionar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.botaoAdicionar:hover .overlayBotaoAdicionar{
    display: block;
}

.botaoAddCart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 270px;
    background-color: hsl(26, 100%, 55%);
    padding: 13px 7px 13px 7px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsl(26, 80%, 67%);
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.divImgCart path{
    fill: white;
}

.divImgCart svg{
    width: 15px;
    height: 15px;
}

.overlayBotaoAddCart{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background:  hsla(230, 60%, 98%, 0.425);
    border-radius: 10px;
}

.botaoAddCart:hover .overlayBotaoAddCart{
    display: block;
    box-shadow: none;
}

.botaoAddCart:hover{
    box-shadow: none;
}
